name: CI
run-name: "${{ github.event.repository.name }} | CI | ${{ github.run_id }} | ${{ github.event_name }}"
permissions: read-all

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - '*.sln'
      - '*.csproj'
      - '*.ps1'

  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/**/*'
      - '*.sln'
      - '*.csproj'
      - '*.ps1'

jobs:
  changes:
    name: Label Changes
    runs-on: [ubuntu-latest]
    if: github.event_name == 'pull_request'
    permissions:
      contents: read
      pull-requests: write
    steps:
    - name: Labeler
      id: labeler
      uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b #v6.0.1

  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      release-version: ${{ steps.build.outputs.release-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Module
        id: build
        uses: ./.github/actions/ps-build
        with:
          release-type: Debug

  unit-tests:
    name: Unit Tests
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
      checks: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Unit Tests
        uses: ./.github/actions/ps-unit-tests

  integration-tests:
    name: Integration Tests
    needs: [build]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    permissions:
      contents: read
      checks: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Integration Tests
        uses: ./.github/actions/ps-integration-tests
